@page "/last-requests"
@page "/last-requests/user/{Username}"

@implements IDisposable
@using AutoMapper
@using KnewAlreadyWebApp.Data
@using System.Timers

<PageTitle>Запросы</PageTitle>

@if (Username != null)
{
    <h2>Запросы пользователя: <strong>@Username</strong></h2>

    <div class="suggest-action-tool-panel my-2">
        <div class="d-inline">
            <div class="btn-group" role="group">
                <button class="btn btn-primary p-2">
                    Все
                </button>
                <button class="btn btn-outline-primary p-2 ">
                    Только ожидающие
                </button>
                <button class="btn btn-outline-primary p-2 ">
                    Только законченные
                </button>
            </div>
        </div>

        <div class="d-inline">
            <strong>Категории</strong>
            <div class="btn-group" role="group">
                <button class="btn btn-success">
                    Все
                </button>
                @foreach (var category in availableCategories)
                {
                    <button class="btn btn-outline-success">
                        @category
                    </button>
                }
            </div>
        </div>

    </div>

}

<div class="suggest-action-list">
    @if (userRequestItems is not null)
    {
        @foreach (var item in userRequestItems)
        {
            <div class="suggest-action-item@((newItems.Contains(item) ? " new-item" : ""))">
                <div class="time-labels">
                    <p>Создан: <span>@item.Created.ToString("dd.MM.yyyy HH:mm")</span></p>
                    @if (!@item.IsExpired)
                    {
                        <p>Осталось: <span class="blink">@item.TimeLeft.Value.ToString("hh\\:mm")</span></p>
                    }
                </div>
                <h3>@item.CategoryName</h3>
                <div class="suggest-action-item-inner">
                    <p>@item.InitiatorUsername</p>
                    <span class=@("fa " + getItemStatusIconClass(item))></span>
                    <p>@item.AcceptorUsername</p>
                </div>
            </div>
        }
    }
    else
    {
        <LoadingSpinner />
    }
</div>

