@page "/last-requests"
@attribute [Authorize]

@implements IDisposable
@using AutoMapper
@using KnewAlreadyWebApp.Data
@using System.Timers

<PageTitle>Запросы</PageTitle>

<h2>Запросы пользователя: <strong>@(loginerUser?.Username ?? string.Empty)</strong></h2>

<div class="suggest-action-tool-panel my-2">
    <div class="d-inline">
        <strong>Статус</strong>
        <div class="btn-group" role="group">
            <button class="btn p-2 @(selectedFilterStatus == "Все" ? "btn-success" : "btn-outline-success")"
                    @onclick="@(e => selectedFilterStatus = "Все")">
                Все
            </button>
            <button class="btn p-2 @(selectedFilterStatus == "Только ожидающие" ? "btn-success" : "btn-outline-success")"
                    @onclick="@(e => selectedFilterStatus = "Только ожидающие")">
                Только ожидающие
            </button>
            <button class="btn p-2 @(selectedFilterStatus == "Только законченные" ? "btn-success" : "btn-outline-success")"
                    @onclick="@(e => selectedFilterStatus = "Только законченные")">
                Только законченные
            </button>
        </div>
    </div>

    <div class="d-inline">
        <strong>Категории</strong>
        <div class="btn-group" role="group">
            <button class="btn p-2 @(selectedFilterCategory == "Все" ? "btn-success" : "btn-outline-success")"
                    @onclick="@(e => selectedFilterCategory = "Все")">
                Все
            </button>
            @foreach (var category in availableCategories)
            {
                <button class="btn p-2 @(selectedFilterCategory == category ? "btn-success" : "btn-outline-success")"
                    @onclick="@(e => selectedFilterCategory = category)">
                    @category
                </button>
            }
        </div>
    </div>

</div>


<div class="suggest-action-list">
    @if (userRequestItems is not null)
    {
        @foreach (var item in filteredUserRequestItems)
        {
            <div class=@getItemClasses(item)>
                <div class="time-labels">
                    <p>Создан: <span>@item.Created.ToString("dd.MM.yyyy HH:mm")</span></p>
                    <p>Лимит: <span>@item.LifeTimeInMinutes</span> мин.</p>
                    @if (item.IsConfirmed)
                    {
                        <p>Выполнен: <span>@item.ConfirmDateTime.Value.ToString("dd.MM.yyyy HH:mm")</span></p>
                    }
                    else if (!item.IsExpired)
                    {
                        <p>Осталось: <span class="blink">@item.TimeLeft.Value.ToString("hh\\:mm")</span></p>
                    }
                </div>
                <h3>@item.CategoryName</h3>
                <div class="suggest-action-item-inner">
                    @if (item.IsConfirmed || item.InitiatorUsername != loginerUser?.Username)
                    {
                        <p>@item.InitiatorUsername</p>
                    }
                    else if (!item.IsConfirmed && !item.IsExpired && item.InitiatorUsername != loginerUser?.Username)
                    {
                        <button class="btn btn-success px-2 blink" @onclick="@(e => AcceptClick(item.Id))">
                            <span class="oi oi-circle-check"></span>
                            Принять
                        </button>
                    }
                    <span class=@("fa " + getItemStatusIconClass(item))></span>
                    @if (item.IsConfirmed || item.AcceptorUsername != loginerUser?.Username)
                    {
                        <p>@item.AcceptorUsername</p>
                    }
                    else if (!item.IsConfirmed && !item.IsExpired && item.InitiatorUsername != loginerUser?.Username)
                    {
                        <button class="btn btn-success px-2 blink" @onclick="@(e => AcceptClick(item.Id))">
                            <span class="oi oi-circle-check"></span>
                            Принять
                        </button>
                    }
                </div>
            </div>
        }
    }
    else
    {
        <LoadingSpinner />
    }
</div>

